h1{
  text-align: center;
}


.container{
  text-align: center;
}


.image-grid {
  margin: 0 auto;
  display:inline-grid;
  grid-template: 200px 200px 200px / 200px 200px 200px;
  grid-gap: 20px;
}

.image-grid div{
  text-align: center;
  background: blue;
}

.image-grid div:nth-child(3)  {
  background: red;

}

@keyframes slideFromLeft {
  /* starting point and ending point */

  from {
    margin-right: 80%;
  }

  to {
    margin-left: 0%;
  }
}
.image-grid div:nth-child(5) {
  animation-name: fadeIn;
  animation-duration: 2s;
}



.image-grid div:nth-child(7) {
  animation-name: slideFromLeft;
  animation-duration: 2s;
}
